{% extends 'main.html' %}

{% block title %}Vegetable Price List{% endblock %} 


{% block navigation %}
  <nav>
    <a href="/" class="active">Home</a>
    {% if  is_admin %}
      <a href="/vegetable/actions-log">Actions Log</a>
    {% endif %}
    <a href="/vegetable/price-chart">Price Chart</a>
  </nav>
{% endblock navigation %}
  

{% block content %}
  <div class="align-wrapper">
    {% if is_admin %}
    <a href="{% url 'add_vegetable' %}" class="add-btn" title="Add New Vegetable">Add Vegetable</a>
    {% endif %}
    <div class="search-container">
      <form action="{% url 'price_list' %}" method="get" class="search-form" style="display: flex;">
        <input type="text" name="query" placeholder="Search for vegetables..." class="search-input" value="{{ request.GET.query }}">
        <button type="submit" class="search-button">Search</button>
        <button type="submit" name="query" value="" class="reset-button">Reset</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="tile-container">
      {% for item in vegetables %}
        <div class="tile">
          <a href="media/{{item.img}}" target="_blank">
            <img src="media/{{item.img}}" alt="Tomato">
          </a>
          <h2>{{item.name}}</h2>
          <p>₱ {{item.price}}/kg</p>
          <p style="font-size: 14px;">{{item.tran_id.created_at|date:"M d, Y H:i a"}}</p>

          {% if is_admin %}
          <div class="button-container">
            <a href="#" class="btn btn-secondary delete-btn" data-id="{{ item.pk }}" title="Deactivate Vegetable">
              <i class="bi bi-x-circle"></i>
            </a>
            <a href="{% url 'update_vegetable' pk=item.pk %}" class="btn btn-secondary edit-btn", title="Update Vegetable">
              <i class="bi bi-pencil"></i>
            </a>
          </div>
          {% endif %}
        </div>
        {% empty %}
          <p id="empty">No vegetables available.</p>
      {% endfor %}
    </div>
  </div>

{% endblock %}