{% extends 'main.html' %}

{% block title %}Vegetable Price List{% endblock %}

{% block content %}
    <section id="price_list">
      <div class="container">
        <div class="tile-container">
          {% for item in vegetables %}
            <div class="tile">
              <a href="media/{{item.img}}" target="_blank">
                <img src="media/{{item.img}}" alt="Tomato">
              </a>
              <h2>{{item.name}}</h2>
              <p>₱ {{item.price}}/kg</p>
              {% comment %} <p style="font-size: 14px;margin-top: 2px;">{{item.updated_at}}</p> {% endcomment %}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
