
{% extends "main.html" %}

{% block title %} Vegetable Actions Log {% endblock title %}

{% block navigation %}
  <nav>
      <a href="/">Home</a>
      <a href="/vegetable/price-chart">Price Chart</a>
      <a href="/vegetable/actions-log" class="active">Actions Log</a>
      
  </nav>
{% endblock navigation %}

{% block content %}
<style>
    table {
        width: 90%;
        border-collapse: collapse;
        margin: 20px auto;
        align: center;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
</style>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Vegetable Name</th>
            <th>Price</th>
            <th>Created By</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for action in actions %}
        <tr>
            <td>{{ action.id }}</td>
            <td>{{ action.tran_type }}</td>
            <td>{{ action.vegetable_name }}</td>
            <td>{{ action.price }}</td>
            <td>{{ action.created_by }}</td>
            <td>{{ action.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    