{% extends "main.html" %}

{% block title %} Vegetable Price Chart {% endblock title %}

{% block navigation %}
  <nav>
    <a href="/">Home</a>
    <a href="/vegetable/price-chart" class="active">Price Chart</a>
    {% if  is_admin %}
      <a href="/vegetable/actions-log">Actions Log</a>
    {% endif %}
  </nav>
{% endblock navigation %}

{% block content %}
    <form method="get" action="">
        <div class="dropdown-container">
            <label for="vegetable">Choose a Vegetable: </label>
            <select name="vegetable" id="vegetable" onchange="this.form.submit()">
                {% for vegetable in vegetables %}
                    <option value="{{ vegetable.name }}" {% if vegetable.name == selected_vegetable %}selected{% endif %}>
                        {{ vegetable.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <div class="row justify-content-center mt-4">
        <!-- Highest Price Card -->
        {% if highest_price_data %}
          <div class="col-md-4">
            <div class="card border-success">
              <div class="card-header text-white bg-success">
                Highest Price
              </div>
              <div class="card-body">
                <h5 class="card-title">Price: {{ highest_price_data.average_price|floatformat:2 }} USD</h5>
                <p class="card-text">Date: {{ highest_price_data.date|date:"M d, Y" }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-4">
            <div class="card border-danger">
              <div class="card-header text-white bg-danger">
                Highest Price
              </div>
              <div class="card-body">
                <p class="card-text">No price data available for the highest price.</p>
              </div>
            </div>
          </div>
        {% endif %}
  
        <!-- Lowest Price Card -->
        {% if lowest_price_data %}
          <div class="col-md-4">
            <div class="card border-danger">
              <div class="card-header text-white bg-danger">
                Lowest Price
              </div>
              <div class="card-body">
                <h5 class="card-title">Price: {{ lowest_price_data.average_price|floatformat:2 }} USD</h5>
                <p class="card-text">Date: {{ lowest_price_data.date|date:"M d, Y" }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-4">
            <div class="card border-danger">
              <div class="card-header text-white bg-danger">
                Lowest Price
              </div>
              <div class="card-body">
                <p class="card-text">No price data available for the lowest price.</p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <h3>Daily Price Chart for: {{ selected_vegetable }}</h3>

    <div class="chart_container" style="width:80%;height:60%;margin: auto auto 50px;">
        <canvas id="priceChart"></canvas>
    </div>
    <script>
        // Receive the chart data passed from Django (context variable)
        const chartData = {{ chart_data|safe }};
        const dynamicMaxY = {{ dynamic_y_max }};
        
        // Initialize the chart
        const ctx = document.getElementById('priceChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartData.labels,
                datasets: chartData.datasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,  // Allow the chart to resize according to the container size
                aspectRatio: 16/9,
                scales: {
                    x: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Date Updated',
                            font: {
                                size: 20
                            }
                        },
                        ticks: {
                            font: {
                                size: 14
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Average Price (PHP / Kilo)',
                            font: {
                                size: 20
                            }
                        },
                        ticks: {
                            font: {
                                size: 14
                            }
                        },
                        max: dynamicMaxY
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    </script>
{% endblock content %}

